* {
  margin: 0;
  padding: 0;
}

html, body, .map{
   height: 100%;
}

.map{
  float:left;
  width: 50%;
}
#image_map{
        border-right: 1px solid grey;
}
#map{

}

.leaflet-but {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    background-color:#fff;
    cursor:pointer;
}
.leaflet-save-but {
    background-image: url(../../images/icons/save-regular.svg);

}
.leaflet-image_plus-but {
    background-image: url(../../images/icons/image_plus.svg);
    height: 20px;
    background-position: 4px 1px;
}
.leaflet-image_minus-but {
    background-image: url(../../images/icons/image_minus.svg);
}

.form_icon{
/*Jason Tropp, US*/
}

.ui-dialog { z-index: 1000 !important ;}

p { margin-bottom: 1em; }



#dialog ol {

   counter-reset: item;

    margin:0px 0;
    padding:0;
    list-style: decimal-leading-zero inside none;
}

#dialog ol li
{
    margin: 0px;
    padding: 0px;
    text-indent: -2.2em;
    margin-left: 3.4em;
}
#dialog li {
  display: block
}
#dialog li:before {
  content: counters(item, ".") " ";
  counter-increment: item;

}
.hide{
    display:None
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.leaflet-spinner{
    color:black;
}
.slider{
    display:none;
}

.leaflet-crop{
    display:inline-block;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: bottom;
}
.enabled{
    background-color:#ccc;
}